{
    "extends": "react-app",
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "warn",
      "quotes": [
        "error",
        "double",
        { "avoidEscape": true, "allowTemplateLiterals": true }
      ],
      "semi": ["error", "always"]
    }
  }